<div tabindex="<%- key %>" class="product-image-card" id="product-image-card-<%- key %>" onmouseenter="onProductImageCardHover(this)">
    <img class="image" src="<%- image.url %>" alt="Image">
    <h4 class="attribute"><%- image.attribute %></h4>
</div>

<%# Scoped JS %>
<% if (key == 0) { %>
<script>
// Focus and select the card on hover
const onProductImageCardHover = (card) => {
    card.focus()

    // Reference main details
    const productDetails = document.getElementById('product-details-main')
    const preview = productDetails.querySelector('img#product-image-preview')
    const attribute = productDetails.querySelector('span.attribute')

    // set previewed image as the cards image
    preview.src = card.querySelector('img.image').src
    attribute.textContent = `(${card.querySelector('h4.attribute').textContent})`
}

// Focus on the first element product image upon load
document.onload = () => document.getElementById(`product-image-card-<%- key %>`).focus()
</script>
<% } %>

<%# Scoped Style %>
<% if (key == 0) { %>
<style>
.product-image-card {
    width: 80%;
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-shadow: 0 0 10px var(--light-gray);
}

.product-image-card .image {
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
    transition-duration: 250ms;
}

.product-image-card .attribute {
    font-size: large;
}

.product-image-card:hover .image,
.product-image-card:focus-within .image {
    scale: 1.1;
}

.product-image-card:focus-within {
    outline: 2px solid var(--red);
}
</style>
<% } %>